body {
  justify-content: center;
  height: calc(100vh - 8em);
  color: #64676a;
}
#element {
    height: 60rem;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(199,223,255,1) 100%);
}

/* hr {
    border: 1px solid #64676a;
    width: 65%;
} */
/* --------------------------------------------------------------- */
/*
/*                          Animation
/*
/* --------------------------------------------------------------- */
.line-1{
    position: relative;
    top: 40%;
    width: 24em;
    margin: 0 auto;
    /* border-right: 2px solid rgba(255,255,255,.75); */
    font-size: 400%;
    font-weight: bold;
    color: #64676a;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    font-family: 'Raleway', sans-serif;
}


.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: transparent;}
  to{border-right-color: transparent;}
}

/* ------------------------------Travail trick color--------------------------------- */
#Travail {
    background: rgb(199,223,255);
background: linear-gradient(180deg, rgba(199,223,255,1) 0%, rgba(255,216,216,1) 100%);
}

/* --------------------------------------------------------------- */
/*
/*                              Skills
/*
/* --------------------------------------------------------------- */


#Skills {
    margin-bottom: 7rem;
}
.socialbtn {
  color: #64676a;
  transition: 0.4s;
}

.fa-html5:hover {
  color: #dd4b25;
  font-size: 800%;
}
.fa-php:hover {
  color: #4d588f;
  font-size: 800%;
}
.fa-adobe:hover {
  color: #e61b23;
  font-size: 800%;
}
.fa-css3-alt:hover {
 color: #254bdd;
 font-size: 800%;
}
.fa-js-square:hover {
  color: #e2c430;
  font-size: 800%;
}

.skills{
  transform-origin: 0 0;
  transform: rotateZ(-90deg);
  margin-left: 2.8rem;;
  position: absolute;
  top: 77rem;
  font-family: 'Overpass', sans-serif;
  font-size: 250%;
  letter-spacing: 0.5rem;
  font-weight: 600;
  color: #64676a;
}

/* --------------------------------------------------------------- */
/*
/* Project
/*
/* --------------------------------------------------------------- */

#Project {
    margin-top: 10rem;
}
.container {
  position: relative;
}
/*
#premiere {
     margin-top: 100px;
} */


.image {
  display: block;
  width: 350px;
  height: 170px;
  border-radius: 1%;
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.super-effet:hover .overlay {
  width: 100%;
}

.link {
  color: #64676a;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.fa-external-link-alt {
    color: #64676a;;
}
.text:hover {
  transition: 0.5s;
  color: #dbddfe;
}
.fa-youtube {
     color: #ff0000;
}

.screen2 {
  width: 85%
}

#machine_a_ecrire {
     margin-top: 50px;
     color: #64676a;
}
#Project-typewrite {
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  font-size: 110%;
  letter-spacing: 0.2rem;
  color: #64676a;
}

.typewrite {
  color: #64676a;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  letter-spacing: 0.8rem;
  padding-bottom: 100px;
  }


    /* --------------------------------------------------------------- */
    /*
    /* Social
    /*
    /* --------------------------------------------------------------- */
#Reseaux {
    padding-top : 5rem;
    padding-bottom: 5rem;
    background: rgb(254,216,216);
    background: linear-gradient(180deg, rgba(254,216,216,1) 0%, rgba(247,255,190,1) 100%);
}

.fab {
    color: #64676a;
}
.fas {
    color: #64676a;
}
.fa-facebook:hover {
  color: #3a5698;
  transition: 0.9s;
}
.fa-linkedin-in:hover {
    color: #75b9fe;
    transition: 0.9s;
}
.fa-github-alt:hover {
    color: black;
    transition: 0.9s;
}
.fa-at:hover {
    color: #fe6a6b;
    transition: 0.9s;
}

.social {
  transform-origin: 0 0;
  transform: rotateZ(-90deg);
  position: absolute;
  top: 148rem;
  right: -8rem;
  bottom: 0;
  font-family: 'Overpass', sans-serif;
  font-size: 250%;
  font-weight: 600;
  letter-spacing: 0.5rem;
}
